<!-- <div class="container" style="margin:15px" *ngIf="cancion">
  <h1>{{cancion.titulo}}</h1><small>{{cancion.artista}}</small>
<hr>
  <div class="row">

    <div class="col-md-4">

      <img src={{cancion.img}} class="img-fluid" alt="">
      <br><br>

    </div>

    <div class="col -md-8">
      <h3>Album: {{cancion.album}}</h3>
      <hr>
      <p>Fecha:{{cancion.fecha}}</p>
      <p>Estilo: {{cancion.estilo}}</p>
      <button class="btn btn-sm btn-outline-danger" (click)="goHome()">Volver</button>

    </div>
  </div>
</div> -->

<h2>Detalles</h2>
<div class="container" *ngIf="cancion">
    <img src="{{cancion.img}}" style=" border: 5px solid #555; border-radius: 50%; " alt="" srcset="" height="250">
    <h1>{{cancion.titulo}}</h1>
    <h2 style="font-weight: bold;">Artista:</h2>
    <h3>{{cancion.artista}}</h3>
    <h4 style="font-weight: bold;">Album:</h4>
    <h4>{{cancion.album}}</h4>
    <p style="font-weight: bold;">Estilo:</p>
    <p>{{cancion.estilo}}</p>
    <p style="font-weight: bold;">Fecha Estreno: </p>
    <p>{{cancion.fecha}}</p>
    <p style="font-weight: bold;">Descripción:</p>
    <p>{{cancion.description}}</p>

</div>
