
<div class="text-filter">
    <h2>Filtros</h2>
    <form name = "text-filter-form" >
        <input type="text" class="form-control" placeholder="Busca una canción...">
        <button class="btn btn-primary btn-outline" type="button" (click)="filtroTexto()">Buscar</button>
    </form>

    <form name = "style-filter-form">
        <label for="">Selecciona un estilo</label>
        <select class="btn-outline" type="" name="estilos" id="style">
          <option value="Electrónica">Electrónica</option>
          <option value="Pop">Pop</option>
          <option value="Alternativa">Alternativa</option>
        </select>
        <input class="btn btn-primary" type="button" (click)="filtroTexto()" value="Filtrar" />
    </form>

</div>
