
<div class="text-filter">
    <h2>Filtros</h2>
    <form name = "text-filter-form">
        <label for="">Buscador</label>
        <input type="text" placeholder="Busca una canción...">
        <button type="submit">Buscar</button>
    </form>
    
    <form name = "style-filter-form">
        <label for="">Selecciona un estilo</label>
        <select name="estilos" id="style">
          <option value="Electrónica">Electrónica</option>
          <option value="Pop">Pop</option>
          <option value="Alternativa">Alternativa</option>
        </select>
        <input type="submit" value="Filtrar" />
    </form>

</div>