<!-- <div class="song-container">
    <h2 class="song-title">Componente Canción</h2>
    <p>Autor: <b>Juan Pérez</b></p>
    <p>Año: <b>2022</b></p>
    <p>Disco: <b>Tercer Disco</b></p>
    <p>Estilo: <b>Rock</b></p>
</div> -->

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/src/assets/logoG7.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Titulo Canción</h5>
    <p class="card-text">Artista</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Estilo:...</li>
    <li class="list-group-item">Año:</li>
    <li class="list-group-item">Album</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Ver Detalles</a>
    <a href="#" class="card-link">Reproducir</a>
  </div>
</div>
