/* .song-container{
    border: 1px solid lightgray;
    display: inline-block;
    padding: 10px 30px;
    background-color: #f4f4f4;
    margin: 15px;
} */

.card{
  border: 1px solid lightgray;
  display: inline-block;
  padding: 10px 30px;
  background-color: #f4f4f4;
  margin: 15px;
}

.card-img-top {
  size: 20px;
}
