<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="container">
    <div class="NavBar">
      <nav class="navbar bg-light d-block">
        <app-text-filter></app-text-filter>
        <app-detalleCancion></app-detalleCancion>
      </nav>

    </div>
    <div class="Body canciones-wrapper">
      <app-reproductor class="reproductor"></app-reproductor>
      <app-cancion class="cancion"></app-cancion>
      
    </div>
    <div class="Footer">
     
    </div>
  </div>
</body>
</html>
