<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="container">
    <div class="Header">
      <h1>MusicWeb</h1>
    </div>
    <div class="NavBar">
      <nav class="navbar bg-light">
        <div class="container-fluid">
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
          </form>
        </div>
      </nav>
    </div>
    <div class="Body">
      <app-cancion class="cancion"></app-cancion>
      <app-cancion class="cancion"></app-cancion>
      <app-cancion class="cancion"></app-cancion>
      <app-cancion class="cancion"></app-cancion>
      <app-cancion class="cancion"></app-cancion>
    </div>
    <div class="Footer">
    </div>
  </div>
</body>
</html>
